@import "../../../style/index.scss";

.SpecializationCard {
  width: 100%;
  background-color: $white;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 53px 57px;
  box-sizing: border-box;

  @include mq-phone {
    width: 100%;
  }

  &__header {
    margin-top: 24px;
    margin-bottom: 20px;
  }

  &__text {
    max-width: 247px;
    text-align: center;
  }
}
