@import "../../../style/index.scss";

.SpecializationCard {
  & {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 53px 57px;

    @include mq-tablet {
      flex-basis: calc(50% - 16px);
    }

    @include mq-phone {
      flex: none;
    }
  }

  &__header {
    margin-top: 24px;
    margin-bottom: 20px;
  }

  &__text {
    max-width: 247px;
    text-align: center;
  }
}
