@import "../../../style/index.scss";

.Section {
  position: relative;
  min-height: 75px;
  width: 100%;
  padding: $adaptive-padding-desktop 0;
  max-height: 1000px;
  margin: 0 auto;
  cursor: inherit;
  font: inherit;
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-direction: column;

  @include mq-tablet {
    height: auto;
    padding: $adaptive-padding-tablet 0;
    max-height: none;
  }

  @include mq-phone {
    padding: $adaptive-padding-phone 0;
  }

  @include mq-wq-desktop {
    height: auto;
    padding: $adaptive-padding-wq-desktop 0;
    max-height: none;
  }

  &__container {
    display: flex;
    align-items: space-between;
    flex-direction: column;
  }

  &_color {
    &-white {
      background-color: $white;
    }

    &-gray {
      background-color: $alternative-lighter-gray;
    }
  }
}
