@import "../../../style/index.scss";

.Section {
  position: relative;
  min-height: 75px;
  width: 100%;
  padding: $adaptive-padding-desktop 0;
  max-height: 1000px;
  margin: 0 auto;
  cursor: inherit;
  font: inherit;
  overflow: hidden;
  display: flex;
  justify-content: center;
  flex-direction: column;

  @include mq-tablet {
    height: auto;
    padding: $adaptive-padding-tablet 0;
    max-height: none;
  }

  @include mq-phone {
    height: auto;
    padding: $adaptive-padding-phone 0;
    max-height: none;
  }

  @include mq-wq-desktop {
    height: auto;
    padding: $adaptive-padding-wq-desktop 0;
    max-height: none;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: inherit;
    margin: 0 auto;
    width: 76vw;
    max-width: 1400px;
    min-width: 300px;

    @include mq-laptop {
      width: 86vw;
    }

    @include mq-tablet {
      width: calc(100% - 64px);
    }

    @include mq-phone {
      width: calc(100% - 40px);
    }
  }

  &_color {
    &-white {
      background-color: $white;
    }

    &-gray {
      background-color: $light-gray;
    }
  }
}
