@import "../../../style/index.scss";

.ProgressBar {
  width: 100%;
  height: 8px;
  background-color: $light-purple;
  position: relative;
  border-radius: 2px;
  overflow: hidden;

  &__status {
    height: 100%;
    background-color: $accent;
  }
}
