@import "../../../style/index.scss";

.Mouse {
  position: fixed;
  z-index: 1;
  background-color: $accent;
  width: 15px;
  height: 15px;
  border-radius: 2px;
  opacity: 0.6;
  animation: rotate 2s ease-in-out 0s infinite normal forwards;

  cursor: none;
}

@keyframes rotate {
  0% {
    transform: scaleY(0);
  }

  25% {
    transform: scaleY(1);
  }

  50% {
    transform: scaleX(0);
  }

  75% {
    transform: scaleX(1);
  }

  100% {
    transform: scaleY(0);
  }
}
