@import "../../../style/index.scss";

.Mouse {
  position: fixed;
  z-index: 1;
  mix-blend-mode: difference;
  background-color: $accent;
  width: 15px;
  height: 15px;
  border-radius: 100%;
  opacity: 0.6;
  animation: rotate 2s ease-in-out 0s infinite normal forwards;

  cursor: none;
}
