.CareerPath {
  &__header {
    margin-bottom: 0px;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    gap: 100px;
  }

  &__left_side {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__right_side {
    width: 100%;
  }

  &__button {
    text-align: start;
    width: 345px;
  }
}
