.AdaptiveImage {
  & {
    position: relative;
    width: 100%;
    padding-top: 100%;
  }

  &__inherit {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;

    &::before,
    &::after {
      content: "";
      transition: 0.2s;
    }
  }

  &__img {
    transition: 0.2s;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &_position {
    &-lt {
      object-position: 0;
    }
  }
}
