@import "../../../style/index.scss";

.MyWorksCard {
  & {
    cursor: pointer;

    &:hover {
      & > .MyWorksCard__img {
        & > div {
          &::after {
            content: "Click to open";
            position: absolute;
            width: 100%;
            height: 100%;
            display: flex;
            top: 0;
            left: 0;
            justify-content: center;
            align-items: center;
            background-color: #e5e5e5;
            opacity: 0.3;

            font: {
              size: 38px;
              weight: $font-weight-header;
              family: $fonts-family-header;
            }
          }
          & > img {
            scale: 1.2;
            filter: blur(4px);
          }
        }
      }
      & > .MyWorksCard__container-header {
        gap: 18px;
      }
    }

    @include mq-tablet {
      flex-basis: calc(50% - 16px);
    }

    @include mq-phone {
      flex: none;
    }
  }

  &__container {
    &-header {
      margin: 0 24px;
      transition: 0.3s;
      display: flex;
      align-items: center;
      gap: 12px;
      margin-bottom: 20px;
    }
  }

  &__header {
    position: relative;
    font-size: inherit;
    display: flex;
    justify-content: center;
    align-items: center;

    &-arrow {
      font-size: 16px;
    }
  }

  &__tags {
    margin: 0 24px;
    margin-bottom: 24px;
  }

  &__img {
    transition: 1s;
    margin-bottom: 24px;
  }
}
