@import "../../../style/index.scss";

.Button {
  & {
    position: relative;
    overflow: hidden;
    padding: 12px 18px;
    outline: none;
    border: 1px solid $light-gray;
    background-color: transparent;
    border-radius: 8px;
    transition: color 0.2s;
    color: $black;

    font: {
      size: 14px;
    }

    cursor: pointer;

    &:hover,
    &:active {
      color: $gray;
    }
  }
}
