@import "../../../style/index.scss";

.Button {
  & {
    position: relative;
    overflow: hidden;
    padding: 12px 18px;
    outline: none;
    border-radius: 8px;
    transition: all 0.2s;
    box-sizing: border-box;

    cursor: pointer;
  }

  &__default {
    background-color: transparent;
    color: $black;
    border: 1px solid $light-gray;

    font: {
      size: 14px;
    }

    &:hover,
    &:active {
      color: $gray;
    }
  }

  &__filled {
    position: relative;
    color: $gray;
    background-color: transparent;
    border: none;

    &_active {
      background-color: $white;
      color: $accent;
      padding: 16px 30px;

      &::after {
        content: "";
        border: solid $accent;
        border-width: 0 2px 2px 0;
        display: inline-block;
        padding: 2.8px;
        transform: rotate(-45deg);

        position: absolute;
        right: 30px;
        top: 21.8px;
      }
    }

    font: {
      size: 16px;
    }
  }
}
