@import "../../../style/index.scss";

.Specialization {
  & {
    align-items: center;
  }

  &__container {
    &-header {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &__header {
    margin-bottom: 72px;
  }
}
