@import "../../../style/index.scss";

.Specialization {
  & {
    @include mq-phone {
      align-items: flex-start;
      flex-direction: column-reverse;
      gap: 32px;
    }
  }

  &__container {
    &-header {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &-card {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 52px;

      @include mq-tablet {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
        gap: $padding-phone;
      }
    }
  }

  &__header {
    margin-bottom: 72px;
  }
}
