@import "../../../style/index.scss";

.Specialization {
  & {
    gap: 30px;

    @include page-adaptive;

    @include mq-phone {
      padding: 30px 0;
      align-items: flex-start;
      flex-direction: column-reverse;
      gap: 32px;
    }
  }

  &__container {
    &-header {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;

      @include mq-tablet {
        max-width: 423px;
      }
    }
  }
}
