@import "../../../style/index.scss";

.Specialization {
  & {
    @include mq-phone {
      gap: 32px;
    }
  }

  &__container {
    &-header {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &-card {
      width: 100%;
      display: flex;
      justify-content: space-between;
      gap: 52px;

      @include mq-tablet {
        flex-wrap: wrap;
      }
    }
  }

  &__header {
    margin-bottom: 72px;
  }
}
