@mixin mq-phone {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin mq-tablet {
  @media screen and (max-width: 1024px) {
    @content;
  }
}

@mixin mq-laptop {
  @media screen and (max-width: 1440px) {
    @content;
  }
}

@mixin mq-wq-desktop {
  @media screen and (min-width: 2560px) {
    @content;
  }
}

@mixin page-adaptive {
  height: calc(100vh - 200px);
  max-height: 1300px;

  @include mq-tablet {
    height: auto;
    padding: 30px 0;
  }
}
