// colors
$white: #ffffff;
$black: #232e35;
$light-gray: #fbfbfb;
$gray: #656d72;

// media query
$padding-phone: 15px;
$padding-tablet: 45px;
$padding-laptop: 80px;
$padding-desktop: 35vh;
$padding-wq-desktop: 40vh;

// fonts
$fonts-family-default: sans-serif;
$fonts-family-header: "Plus Jakarta Sans", $fonts-family-default;
$fonts-family-subheader: "Inter", $fonts-family-default;
$fonts-family-text: "Inter", $fonts-family-default;
$font-weight-header: 700;
$font-weight-subheader: 500;
$font-weight-text: 400;
