@import "../../../style/index.scss";

.About {
  & {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    @include mq-phone {
      align-items: flex-start;
      flex-direction: column-reverse;
      gap: 32px;
    }
  }

  &__container {
    &-image {
      width: 450px;

      @include mq-phone {
        width: 100%;
        display: flex;
        justify-content: center;
      }
    }

    &-text {
      max-width: 538px;

      @include mq-tablet {
        max-width: 423px;
      }
    }
  }
}
