@import "../../../style/index.scss";

.About {
  & {
    gap: 30px;

    @include page-adaptive;

    @include mq-phone {
      padding: 30px 0;
      align-items: flex-start;
      flex-direction: column-reverse;
      gap: 32px;
    }
  }

  &__container {
    &-image {
      width:  450px;

      @include mq-phone {
        width: 100%;
        display: flex;
        justify-content: center;
      }
    }

    &-text {
      max-width: 538px;

      @include mq-tablet {
        max-width: 423px;
      }
    }
  }
}
