@import "../../../style/index.scss";

.Tags {
  & {
    padding: 4px 8px;
    border: 1px solid $alternative-gray;
    border-radius: 4px;
  }

  &__text {
    color: $alternative-gray !important;
  }
}
