@import "../../../style/index.scss";

.Header {
  font: {
    family: $fonts-family-header;
    weight: $font-weight-header;
    style: normal;
  }
  color: $black;

  &_size {
    &-m {
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
    }

    &-l {
      font-weight: 500;
      font-size: 18px;
      line-height: 23px;
    }

    &-xl {
      font-size: 45px;
      line-height: 55px;

      @include mq-tablet {
        font-size: 32px;
        line-height: 42px;
      }
    }
  }
}
