@import "../../../style/index.scss";

.Card {
  width: 100%;
  background-color: $white;
  border-radius: 8px;
  box-sizing: border-box;
  position: relative;
  overflow: hidden;

  &_type {
    &-border {
      border: 1px solid #f5f5f5;
    }
  }
}
